{% extends 'base.html' %}
{% block title %} Password forgot | {{sitename}}{% endblock title %}

{% block content %}
<section class="container">
    <div class="row" style="margin-top:80px; margin-bottom:80px;">
        <div class="col-md-3"></div>
        <div class="col-md-7 bg-light">
            {% for message in messages %}
            <div class="alert alert-info mt-2 text-center" role="alert">
                {{message}}
            </div>
            {% endfor %}
            <div class="card shadow-lg p-4">
                <!-- Login -->
                <form class="mt-4" action="" method="post">
                    {% csrf_token %}
                    <h2>User Login</h2>
                    {% comment %} <div>
                        <label for="username">Username</label>
                        <input type="text" class="form-control mb-3" name="username" placeholder=" username" required>
                    </div> {% endcomment %}
                    <div>
                        <label for="email">Email</label>
                        <input type="email" class="form-control mb-3" name="email" placeholder=" email" required>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-outline-success" type="submit" name="send-email" id="" value="Send Email">
                    </div>
                    <div class="mt-2">
                        <p>Already have an account? <a href="/account/login">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}