{% extends 'base.html' %}
{% block title %} Password forgot | {{sitename}}{% endblock title %}

{% block content %}

{% if email and token_key %}
<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card p-3 shadow-sm">
                    <h2>Reset New Password</h2>
                    <!--message-->
                    <div class="mt-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show text-center" role="alert">
                                {{message}}
                            </div>
                        {% endfor %}
                    </div>
                    <form name="resetPassword" class="mt-3" action="{% url 'reset-password' email=email token_key=token_key  %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="">New Password</label>
                            <input class="form-control" type="text" id="npassword" name="npassword" placeholder="Enter new password" required>
                            <span id="npassworderror" class="formerror"> </span>
                        </div>
                        <div class="mb-3">
                            <label for="">Re-enter password</label>
                            <input class="form-control" type="password" id="rpassword" name="rpassword", placeholder="Re-Enter password" required>
                            <span id="rpassworderror" class="formerror"> </span>
                        </div>
                        <input type="submit" class="btn btn-success mt-3" name='reset-password' value="Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
    <p class="text-center">Bad request! Go To Home page <a href="/">Designadda.in</a></p>
{% endif %}
{% endblock content %}