{% load static %}
<header class="py-1 container">
    <div class="d-flex justify-content-center align-items-center">
        <img class="sitelogo" height="100" src="{% static 'images/icons/Design-Adda-Logo.png' %}" alt="Design Adda" loading="lazy" />
        <h2 class="ms-3 sitename"  style=""><a class="text-decoration-none" href="/">DesignAdda<span>.in</span></a></h2>
    </div>
</header>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top linear-greadient">
    <div class="container">
        <a class="navbar-brand text-white home_btn1" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2 home_btn2">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <!-- start Categories-->
                {% if category or sub_cat_list %}
                    {% for cat in category %}
                <li class="nav-item mx-2 dropdown toggle_hover">
                    <a class="nav-link text-white " href="{% url 'filter-cat' cat_slug=cat.slug %}" >
                        {{cat.name}}
                    </a>
                    <ul class="dropdown-menu toggle_hover_menu" aria-labelledby="navbarDropdown">
                        {% for sub_cat in sub_cat_list %}
                        {% if cat.id == sub_cat.category_id %}
                            <li><a class="dropdown-item" href="{% url 'filter-sub-cat' sub_cat_slug=sub_cat.slug %}">{{sub_cat.name}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                    {% endfor %}
                {% endif %}
                <!-- End categories -->
                {% if is_customer %}
                    <li class="nav-item mx-2 dropdown">
                        <a class="nav-link dropdown-toggle btn-success p-2 text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user_name }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/">Home</a></li>
                            {% comment %} <li><a class="dropdown-item" href="/">Your Product</a></li> {% endcomment %}
                            <li><a class="dropdown-item" href="/account/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/account/change-password">Change Password</a></li>
                            {% comment %} <li><a class="dropdown-item" href="/cart">Cart</a></li>
                            <li><a class="dropdown-item" href="/ordered">Ordered</a> {% endcomment %}
                            <li><a class="dropdown-item" href="/account/logout">Logout</a></li>
                        </ul>
                    </li>
                 {% else %}
                 <li>
                    <a class="btn btn-success text-white" href="/account">Account</a>
                </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</nav>