{% extends 'base.html' %}
{% load social_share %}
{% block title %} {{product_slug.product_name }} | {{sitename}}{% endblock title %}
{% load static %}

{% block content  %}

<!--Searching-->
{% include 'search_form.html' %}

{% if product_slug %}
<!--message-->
    <section class="mt-3">
        <div class="container">
            <div class="text-end p-2 pe-5">
                {% if is_customer %}
                    {% comment %} <a class="btn btn-outline-dark mx-2" href="#">Collect</a> {% endcomment %}
                    {% if like_status == 1 %}
                    <a class="btn btn-dark mx-2" href="{% url 'likes' user_id=is_customer item_id=product_slug.id prd_slug=product_slug.slug %}">
                        <span style="font-size:13px">{{total_likes  }}</span> Like
                    </a>
                    {% else %}
                        <a style="border:1px solid " class="btn  mx-2" href="{% url 'likes' user_id=is_customer item_id=product_slug.id prd_slug=product_slug.slug %}">
                            <span style="font-size:13px">{{total_likes  }}</span> Like
                        </a>
                    {% endif %}
                    <a class="btn bg-primary text-light mx-2" href="{% url 'download' user_id=is_customer item_id=product_slug.id prd_slug=product_slug.slug %}">Download</a>
                {% else %}
                    <a class="btn btn-outline-dark mx-2" href="/account/login">{{total_likes  }} Like</a>
                    <a class="btn bg-primary text-light mx-2" href="/account/login">Download</a>
                
                {% endif %}
                <span class="dropdown">
                    <button class="btn btn-outline-dark mx-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Share
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><span class="dropdown-item"> {% post_to_facebook object_or_url 'Facebook' %}</span></li>
                      <li><span class="dropdown-item">{% post_to_whatsapp object_or_url 'Whatsapp' %}</span></li>
                    </ul>
                </span>
            </div>
        </div>
    </section>
            <!-- show Image -->
    <section class="bg-light py-3">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div>
                        <h2 class="mb-4">{{product_slug.product_name }}</h2 class="mb-2">
                        <figure class="text-center mt-3">
                            <img id="imgpath" id="image" style="width: 100%" src="{% if product_slug.image %}{{product_slug.image.url}}{% endif %}" alt="{{product_slug.product_name}}" loading="lazy">      
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Photo Details -->
    <section class="photo_detail">
        <div class="container py-3">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 card pb-2">
                    <h3 style="font-weight: 600;font-family: emoji;">DETAILS</h3>
                    <p style="font-size:12px">Posted by: <a href="/">{{product_slug.posted_by}}</a> {{product_slug.created_date|date:" d M Y"}} </p>
                    <table class="table table-bordered">
                        <tr>
                            <td class="details_heading">Name</td>
                            <td>
                                {% comment %} <h6>{{filename | slice:"12:"}}</h6> {% endcomment %}
                                <h6>{{product_slug.product_name}}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td class="details_heading">Specification</td>
                            <td>
                                <div style="font-size:15px">
                                    {{product_slug.description | safe }}
                                </div>
                            </td>
                        </tr>
                        {% comment %} 
                        <tr>
                            <td class="details_heading">Views</td>
                            <td><h6>{{product_slug.views}}</h6></td>
                        </tr>
                        <tr>
                            <td>Downloads</td>
                            <td><h6>{{product_slug.downloads}}</h6></td>
                        </tr>
                        <tr>
                            <td class="details_heading" title="Not a product dimensions">Image Dimensions</td>
                            <td>
                                <h6 id="dimensions"></h6>
                                <script>
                                    const img = new Image();
                                        // get the image
                                        img.src = "{% if product_slug.image %}{{product_slug.image.url}}{% endif %}";
                                        // get height and width
                                        img.onload = function() {
                                        let w = this.width;
                                        let h = this.height;
                                        document.getElementById("dimensions").innerHTML = w + " X " + h ;
                                        }
                                </script>
                            </td>
                        </tr>
                        {% endcomment %}
                        <tr>
                            <td class="details_heading">Software used</td>
                            <td><h6>{{product_slug.software_used}}</h6></td>
                        </tr>
                        <tr>
                            <td class="details_heading">Price</td> 
                            <td>
                                {% if product_slug.payment_choice == 0 %}
                                    <span class="bg-success rounded-1 text-white p-1">Free</span>
                                {% elif product_slug.payment_choice == 1 %}
                                Rs.{{product_slug.price}} <span class="bg-success rounded-1 text-white p-1">Paid</span>
                                {% endif %}
                            </td> 
                        </tr>
                    </table>
                    {% if is_customer %}
                        <a class="btn bg-primary text-light mx-2" href="{% url 'download' user_id=is_customer item_id=product_slug.id prd_slug=product_slug.slug %}">Go for Download</a>
                    {% else %}
                        <a class="btn bg-primary text-light mx-2" href="/account/login">Go for Download</a>
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}

<!--Comments-->
{% include 'comment/comments.html' %}



{% endblock content  %}